:root {
  --blanco: white;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.text-white {
  color: white;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}
.navegacion {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}
.navegacion a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;

  transition-duration: 0.3s;
}
.navegacion a:hover {
  background-color: rgb(184, 124, 124);
  border-radius: 15px;
}

/*HEADER*/
.container-header {
  background-image: linear-gradient(to right, rgb(0 0 0 /0.8), #98707d),
    url(../public/img/bg-qatar.jpg);
  background-size: cover;
  background-position: 50%;
  padding: 5rem 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

/**/
.container-resultados {
  margin-top: 35px;
}
.card {
  width: 380px;
  height: 410px;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 15px;
  line-height: 1.8rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(238, 237, 238, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
  transform: translateY(-4px);
}
.card-group {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 1px;
}
.card-img {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.card-img img {
  margin: 20px 0px;
}
.card-names {
  text-align: center;
  font-size: 24px;

  font-weight: bold;
  margin-bottom: 10px;
}
.card-span {
  display: block;

  margin-left: 5px;
}
.container-resultados {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}

/*FOOTER*/
.footer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 /0.8),
      rgb(100, 160, 203)
    ),
    url(../public/img/footer-bg.jpg);
  background-size: cover;
  background-position: 50%;
  padding: 5rem 0;
}

.footer p {
  margin: 0;
  font-size: 18px;
}

.footer span {
  font-weight: bold;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
