.home-container {
  margin-top: 65px;
}
.home-container h1 {
  text-align: center;
  font-size: 50px;
}

.container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 55px;
}

.item-list {
  font-size: 3rem;
  padding: 65px;
}

.item {
  border: 1px solid rgba(238, 237, 238, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 45px;
  border-radius: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.item:hover {
}
.item-list:hover {
  animation-name: fadeIn;
  animation-duration: 1s;
}
